.item img {
  cursor: pointer;
  width: inherit;
  height: 160px;
  object-fit: contain;


  @include mxw($vlg) {
    width: 180px;
  }

  @include mxw($lg) {
    width: inherit;
  }

  @include mxw($sm) {
    width: 180px;
  }

}