.navigation {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 30px;

  @include mxw($xs) {
    gap: 10px;
  }
}