.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  margin-bottom: 40px;

  @include mxw($vlg) {
    justify-content: flex-end;
  }

  @include mxw($md) {
    margin-bottom: 60px;
  }

  @include mxw($sm) {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 60px 0 30px;
    border-bottom: 2px solid $c-accent;

    &:not(:first-child) {
      padding-top: 0;
    }
  }
}

.info {
  max-width: 500px;
  width: 100%;
  @include mxw($vlg) {
    position: absolute;
    left: 0;
    padding: 20px 10px;
    background-color: $c-white;
    border-radius: 10px
  }

  @include mxw($sm) {
    position: relative;
  }
}

.title {
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;

  @include mxw($sm) {
    font-size: 26px;
  }
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  span {
    font-size: 18px;
    font-weight: 400;

    @include mxw($xs) {
      font-size: 16px;
    }
  }
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
}


.image {
  display: block;
  max-width: 600px;
  max-height: 800px;
  width: 100%;
}

.image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}


.gitHub {
  margin-bottom: 30px;
}
