.certificates {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;

  @include mxw($vlg) {
    gap: 20px;
    place-items: center;
  }

  @include mxw($sm) {
    display: flex;
    gap: 30px;
    overflow-x: auto;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  
}